$yellow: #fffa19;
$rojo: #e02810;
$verde: #19d135;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $yellow;
	color: black;
	@include margenes(50px, 0px);
}


footer {
	padding: 10px 10 px 0 10px;
	background-color: $yellow;
	@include margenes(10px, 0px);
}
